[Unit]
Description=purevpn-deamon
After=network.target

[Service]
ExecStart=/usr/bin/pured-linux-x64 --start
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/
StandardOutput=file:/access.log
StandardError=file:/error.log
        
[Install]
WantedBy=multi-user.target
